body {
  max-width: screen-width;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fefc;
  color: #041a14;
  padding: 5px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #6b58e4;
}

.title {
  font-size: 75px;
  font-weight: bold;
}

.subtitle {
  font-size: 50px;
  width: 100%;
  display: flex;
  padding: 2px;
}

.black-box {
  background-color: #041a14;
  color: #f9fefc;
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.black-box:hover {
  padding: 10px;
  transition-duration: 0.2s;
  transition-property: all;
}

.intro {
  width:  100%;
  height: 100vh;
  padding-top: 20%;
  line-height: normal;
}

.about-me-section {
  background-color: #8ca3edac;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  display: block;
}

.about-me-section > p {
  max-width: 500px;
  margin-left:    auto;
  margin-right: auto;
  margin-top: 20px;
}

.container {
  background-color: #26dda967;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 15px;
  border-radius: 10px;
}

.container img {
  width: 100%;
}

.recently-finished-section {
  background-color: #26dda992;
  color: #041a14;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 600px;
}

.currently-working-section {
  color: #041a14;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}

.education-section {
  background-color: #6b58e4a0;
  color:#f9fefc;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  width: fit-content;
}

.grade {
  margin-left: 40px;
}

/*Blog presets*/

.heading {
  font-size: 100px;
  font-weight: bold;
  line-height: normal;
}

.blog {
  color: #041a14;
  background-color: #26dda984;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  line-height: 25px;
}

.blog > p {
  margin-bottom: 10px;
  text-align: start;
}

.blog > ul {
  margin-bottom: 10px;
  text-align: start;
}

.blog > h1 {
  padding-top: 10px;
  font-size: xx-large;
}

.date {
  font-style: italic;
}

.language-used {
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  line-height: fit-content;
}

.blog > img {
  width: 600px;
  margin: auto 20px;
}

.technology {
  background-color: #8ca3ed;
  width: fit-content;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  line-height: 20px;
}

/*preset css*/

.contents {
  display: flex;
  justify-content: center;
}

.subheading {
  font-size: xx-large;
  font-weight: bold;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-main-xxlarge {
  max-width: 1000px;
  margin: auto;
  display: block;
}

.image-main-large {
  max-width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: block;
}

.image-main-medium {
  max-width: 200px;
  margin: auto;
  padding-bottom: 10px;
  display: block;
}

.image-main-large-wide {
  max-width: 600px;
  margin: 5px;
}

.image-main-small {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
}

/*links*/
.link-external {
  background-color: #6b58e4;
  color: #f9fefc;
  padding: 10px;
  border-radius: 10px;
  text-decoration-line: none;
}

.link-external:hover {
  background-color: #f9fefc;
  color: #6b58e4;
  transition: all;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 500ms;
}

.link-internal {
  background-color: #6b58e497;
  color: #f9fefc;
  padding: 10px;
  border-radius: 10px;
  text-decoration-line: none;
}

.link-internal:hover {
  background-color: #f9fefc;
  color: #6b58e497;
  transition: all;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 500ms;
}

/*Logo fancy turn*/
.logo-turn {
  position: sticky;
  height: 0px;
  top: 27px;
  z-index: -2;
}

.logo-turn > * {
  opacity: 30%;
  translate: -50% -50%;

  z-index: -99;

  animation-name: rotateAnimation;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);

}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
